a{
    text-decoration: none;
}
a:visited, a:focus{
    color:inherit;
}

h1{
    font-family: Staatliches;
    text-align: center;
    letter-spacing: 0.5em;
}
ul{
    text-align: center;
    padding-inline-start: 0;
}
ul li{
    list-style-type: none;
    display: inline-block;
    font-family: Staatliches;
    padding: 10px;
    font-size: 20px;
}
li a{
    padding: 10px;
}
li:hover{
    background: #222;
    color: white;
    cursor:pointer;
}
#data-artists{
    width: 90%;
    margin:0 auto;
}
.artist{
    width:250px;
    display: inline-table;
    margin: 0 50px;
}

.artist img{
    height: 180px;
}
.artist img:hover{
    opacity: 0.5s;
}
.artist p{
    font-family: Staatliches;
    font-size: 25px;
    color: white;
    position:relative;
    top: -60px;
    padding: 5px;
    background: #222;
    text-align: center;
}
li .router-link-exact-active.router-link-active{
    text-decoration: underline;
}
h2{
    color: #222;
    font-family: Staatliches;
}
.artist-info{
    width: 80%;
    margin:0 auto;
}
.artist-info img{
    width: 300px;
}

/**/

.album{
    display: inline-table;
    margin: 0 50px;
}

.album img{
    height: 180px;
}
.album p{
    font-family: Staatliches;
    font-size: 25px;
    color: white;
    position:relative;
    top: -60px;
    padding: 5px;
    background: #222;
    text-align: center;
}
.artist-album img{
    width: 150px;
}
.artist-album p{
    font-family: Staatliches;
}